$color-white:   #fff !default;
$color-black:   #222 !default;
$color-blue:    #007bff !default;
$color-indigo:  #6610f2 !default;
$color-purple:  #6f42c1 !default;
$color-pink:    #e83e8c !default;
$color-red:     #dc3545 !default;
$color-orange:  #fd7e14 !default;
$color-yellow:  #ffc107 !default;
$color-green:   #28a745 !default;
$color-teal:    #20c997 !default;
$color-cyan:    #17a2b8 !default;

$color-primary: #7a9e9f !default;
$color-info:    #68b3c8 !default;
$color-danger:  #eb5e28 !default;
$color-warning: #f3bb45 !default;
$color-default: #666666 !default;
$color-success: #7ac29a !default;